<div class="container">
  <%= render partial: 'navigation/logged_in' %>
  <div>
    <div id="messages">

    </div>
    <div>
      <button id="delete-account-button" class="btn btn-danger">Delete account</button>
    </div>
  <div class="footer">
    <p>© Venmo Groups 2014</p>
  </div>
</div>

<script>
  $('#delete-account-button')
</script>