<td>
  <div style="max-width: 400px; float: left; word-wrap: break-word">
    <div>
      <%= group.name %> (<%= num_members_text %>)
    </div>
    <div>
      <img />
    </div>
  </div>
  <div style="float: right;">
    <a href="#/groups/charge/<%= group.id %>" class="charge-btn btn btn-success" style="margin-right: 10px">Charge All</a>
    <a href="#/groups/pay/<%= group.id %>" class="pay-btn btn btn-primary">Pay All</a>
  </div>
  <div style="clear:both;"></div>
</td>