<h1>Your Groups</h1>
<div id="groups-accordion">

</div>
<a href="#/groups/new" class="disable-hover-underline">
  <div id="new-group" class="dark-on-hover" style="background-color: #5bc0de; padding: 10px; text-align: center; border: 1px solid #29A7CC; color: white">
    + Add New Group
  </div>
</a>