<h1>New Group</h1>
<br />
<form id="new-group" name="group" role="form">
  <div class="form-group">
      <input class="form-control" type="text" name="name" value="" placeholder="Group Name" id="group-name" >
  </div>

  <div class="form-group">
    <div id="members-input">

    </div>
  </div>

  <div class="form-group">
    <a href="#/groups/" class="btn btn-default">Back</a>
    <button type="submit" class="btn btn-success">Create</button>
  </div>

</form>