<% content_for :head do %>
  <title>VenmoGroups - Welcome!</title>
<% end %>

<div class="container">
  <% if flash[:error] %>
    <div class="alert alert-danger"><%= flash[:error] %></div>
  <% end %>
  <% if flash[:warning] %>
    <div class="alert alert-warning"><%= flash[:warning] %></div>
  <% end %>
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="https://api.venmo.com/v1/oauth/authorize?client_id=1843&amp;scope=access_profile make_payments access_friends access_balance access_profile access_feed&amp;response_type=code">Log In</a></li>
      <li><a href="mailto:akhor93@gmail.com">Contact</a></li>
    </ul>
    <h3 class="venmo-groups-title">Venmo Groups</h3>
  </div>
  <div class="jumbotron">
    <h1>Bringing Groups to Venmo</h1>
    <p><a href="https://api.venmo.com/v1/oauth/authorize?client_id=1843&amp;scope=access_profile make_payments access_friends access_balance access_profile access_feed&amp;response_type=code"><%= image_tag "connect-to-venmo.png" %></a>
    </p>
  </div>
  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Pay and Charge Multiple People</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    </div>

    <div class="col-lg-6">
      <h4>Create and Save Groups</h4>
      <p>Save all the people you Venmo most often into groups!</p>
    </div>
  </div>
  <div class="footer">
    <p>© Venmo Groups 2014</p>
  </div>
</div>
