<div id="venmo-onebox">
  <div id="venmo-onebox-names">
  </div>
  <input class="form-control" id="members-input" type="text" name="members" placeholder="Add Friends <%= context ? 'or Groups' : '' %>" >
  <span class="help-block hidden"></span>
</div>
