<div id="logo-container">
  <img class="logo" src="https://developer.venmo.com/static/imgs/venmo_logo_blue.png" />
</div>
<br />
<div style="border-right: 3px solid #e5e5e5">
  <div id="user-info-box">
    <table>
      <tr>
        <td>
          <img src="https://venmopics.appspot.com/u/v1/n/799a657f-e184-470a-bba6-86698f8a3a65" />
        </td>
        <td style="padding-left: 10px">
          <a href=""><%= user.user.display_name %></a>
          <br />
          Sign Out
        </td>
      </tr>
    </table>
  </div>
  <div id="navigation">
    <div class="link">
      <a href="#/">Home</a>
    </div>
    <div class="link">
      <a href="#/groups/">Groups</a>
    </div>
  </div>
</div>