/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/autocomplete
 *= require jquery-ui/button
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Avenir Next', 'Helvetica Neue', Arial;
}

#header {
  height: 20px;
  background-color: #5bc0de;
}

.container {
  max-width: 730px;
  padding-left: 15px;
  padding-right: 15px;
}

.pay-text {
  color: red;
}

.charge-text {
  color: #009200;
}

.bold {
  font-weight: bold;
}

.disable-hover-underline:hover {
  text-decoration: none;
}

.capitalize {
  text-transform: capitalize;
}

.profile-pic {
  width: 50px;
}

.grey-border-bottom {
  border-bottom: 1px solid #cccccc;
}

.grey-small-text {
  color: #8f8f8f;
  font-size: 14px;
}

.margin-right-10 {
  margin-right: 10px;
}

.font-18 {
  font-size: 18px;
}

.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.logo {
  width: 150px;
}

.btn-success {
  background-color: #5bc0de;
  border-color: #41a1bd;
}

.btn-success:hover {
  background-color: #41a1bd;
}

h1 {
  color: #5bc0de;
}