#sidebar {
  display: inline-block;
  width: 250px;
  float: left;
  overflow: hidden;
  #logo-container {
    padding: 10px;
    img {
      width: 120px;
    }
  }
  #user-info-box {
    img {
      width: 50px
    }
  }
  #navigation {
    padding: 10px;
  }
}

#mainbar {
  margin-left: 260px;
}