#sidebar {
  // border-rigxht: 2px solid #e5e5e5;
  padding: 0px;

  .logo {
    
  }
}

.navbar {
  margin-bottom: 0px;
}

#mainbar {
  hr {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .transaction-container {
    color: grey;
    border: 2px solid #e5e5e5;
    margin-bottom: 10px;
    padding: 7px;
  }

  .group-container {
    color: grey;
    border-bottom: 2px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
    margin-bottom: 10px;
  }

  .dark-on-hover {
    background-color: #5bc0de
  }
  
  .member-box {
    border: 1px solid #A0b9d0;
    display: inline-block;
    border-radius: 5px;
    padding: 2px 4px;
    background: #dee9ee;
    margin-right: 4px
  }
  .onebox-x {
    background: url(https://d1v6x81qdeozhc.cloudfront.net/static/images/icons/dialog_close_box-2b089ba8716706d2dba02a8a39b2e506.gif) no-repeat 0px 3px;
    width: 15px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
  }
  #actions label {
    width: 110px;
  }

  .ui-state-active {
    background: #5bc0de;
    color: white;
  }

  .btn-primary {
    background: #5bc0de;
    border-color: #5bc0de;
  }
}