#sidebar {
  width: 200px;
  float: left;
  overflow: hidden;
  #logo-container {
    padding: 10px;
    img {
      width: 120px;
    }
  }
  #user-info-box {
    img {
      width: 60px
    }
  }
  #navigation {
    padding: 10px;
    .link {
      margin-bottom: 15px;
      a {
        color: grey;
        font-size: 16px;
      }
      a:hover {
        text-decoration: none;
        font-weight: 400;
      }
    }
  }
}

#mainbar {
  margin-left: 210px;

  hr {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .transaction-container {
    color: grey;
    border: 2px solid #e5e5e5;
    margin-bottom: 10px;
    padding: 7px;
  }

  .group-container {
    color: grey;
    border-bottom: 2px solid #e5e5e5;
    border-left: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
    margin-bottom: 10px;
  }

  .dark-on-hover {
    background-color: #5bc0de
  }

  #venmo-onebox {
    position: relative;
    width: 100%;
  }

  .member-box {
    border: 1px solid #A0b9d0;
    display: inline-block;
    border-radius: 5px;
    padding: 2px 4px;
    background: #dee9ee;
    margin-right: 4px
  }
  .onebox-x {
    background: url(https://d1v6x81qdeozhc.cloudfront.net/static/images/icons/dialog_close_box-2b089ba8716706d2dba02a8a39b2e506.gif) no-repeat 0px 3px;
    width: 15px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
  }
  #actions label {
    width: 110px;
  }

  .ui-state-active {
    background: #5bc0de;
    color: white;
  }

  .btn-primary {
    background: #5bc0de;
    border-color: #5bc0de;
  }
}