<% if transaction['status'] == 'cancelled' %>
  <% return %>
<% end %>
<% puts transaction %>
<tr>
  <td>
    <div style="width: 400px; float: left">
      <div>
        You <%= transaction['action'] %> <%= group.name %>
      </div>
      <div>
        Time ago
      </div>
    </div>
    <div style="margin-left: 415px;">
      <% if transaction['action'] == 'pay' %>
        <span class="pay-text">$<%= transaction['amount'] %></span>
      <% else %>
        <span class="charge-text">$<%= transaction['amount'] %></span>
      <% end %>
    </div>
    <div style="clear:both;"></div>
  </td>
</tr>