<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="/users/<%= @user.id %>"><%= @user.full_name %></a></li>
    <li><a href="#">Settings</a></li>
  </ul>
  <h3 class="venmo-groups-title">Venmo Groups</h3>
</div>